@model ProyectoAula.Models.BloqueHoras

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BloqueHoras</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreBloque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreBloque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Turno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Turno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdBloque }) |
    @Html.ActionLink("Back to List", "Index")
</p>
