@model AulasPruevas0102.Models.Bitacora

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bitacora</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraFecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraFecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.accion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.accion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdBitacora }) |
    @Html.ActionLink("Back to List", "Index")
</p>
