@model ProyectoAula.Models.HorariosFijos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HorariosFijos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Espacio.NombreEspacio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Espacio.NombreEspacio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Materia.NombreMateria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Materia.NombreMateria)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdHorarioFijo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
