
@{
    ViewBag.Title = "Index";
}

<h2>Index PARA ADMINISTRADOR</h2>
<div class="list-group">

    <a href="@Url.Action("Index", "BloqueHoras")" class="list-group-item">Bloque Horas</a>
    <a href="@Url.Action("Index", "Carreras")" class="list-group-item">Carreras</a>
    <a href="@Url.Action("Index", "Espacios")" class="list-group-item">Espacios</a>
    <a href="@Url.Action("Index", "Facultad")" class="list-group-item">Facultades</a>
    <a href="@Url.Action("Index", "Grupos")" class="list-group-item">Grupoes</a>
    <a href="@Url.Action("Index", "Horarios")" class="list-group-item">Horarios </a>
    <a href="@Url.Action("Index", "HorariosFijos")" class="list-group-item">Horarios Fijos</a>
    <a href="@Url.Action("Index", "InscripcionMaterias")" class="list-group-item">Inscripción Materias</a>
    <a href="@Url.Action("Index", "Login")" class="list-group-item">Login</a>
    <a href="@Url.Action("Index", "logueo")" class="list-group-item">logueos</a>
    <a href="@Url.Action("Index", "Materias")" class="list-group-item">Materias</a>
    <a href="@Url.Action("Index", "Reservas")" class="list-group-item">Reservas</a>
    <a href="@Url.Action("Index", "TelefonoUsuarios")" class="list-group-item">Telefono Usuarios</a>
    <a href="@Url.Action("Index", "Usuarios")" class="list-group-item">Usuarios</a>
</div>

