@model IEnumerable<AulasPruevas0102.Models.InscripcionMateria>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Materia.NombreMateria)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Materia.NombreMateria)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdInscripcion }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdInscripcion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdInscripcion })
        </td>
    </tr>
}

</table>
