@model AulasPruevas0102.Models.HorariosFijo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HorariosFijo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BloqueHora.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BloqueHora.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Espacio.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Espacio.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Materia.NombreMateria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Materia.NombreMateria)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdHorarios }) |
    @Html.ActionLink("Back to List", "Index")
</p>
